name: Publish to TestPyPI

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to build (optional)'
        required: false
  push:
    tags:
      - 'test-v*'

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:    
      - uses: actions/setup-python@v5
      - uses: actions/checkout@v4
      - uses: actions/labeler@v6.0.1
        with:
          python-version: '3.13'
      - run: python -m pip install --upgrade pip
      - run:  python -m build
      - env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
        run: python -m twine upload dist/*